version: '2'

services:
  db:
    image: postgres:13.2-alpine
    environment:
      - POSTGRES_PASSWORD=postgres

  sut:
    build: .
    environment:
      - POSTGRES_HOST=db
      - DJANGO_SETTINGS_MODULE=settings.test_docker
    depends_on:
      - db
    links:
      - db
    command: /src/docker/coverage.sh
