{% extends "events/base.html" %}
{% load i18n %}


{% block content %}

{% if perms.events %}
    <a href="{% url 'admin:events_event_change' event.pk %}"><i class="bi bi-pen"></i>{% translate "Edit" %}</a>
{% endif %}

<h1>{{ title }} - {{ event.date|date:"l d F G:i" }}</h1>
<h3>{{ event.location }}</h3>
<p>{{ event.notes }}</p>

<h2>{% translate "Songs" %}</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="centered">{% translate "Section" %}</th>
            <th scope="col" class="centered">{% translate "Number" %}</th>
            <th scope="col" class="centered">{% translate "Page" %}</th>
            <th scope="col" class="centered">{% translate "Name" %}</th>
            <th scope="col" class="centered">{% translate "Score Number" %}</th>
            <th scope="col" class="centered">{% translate "Soloist" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for eventsong in event.eventsong_set.all %}

        <tr>
            <td>{{ eventsong.section }}</td>
            <td>{{ eventsong.song.number | default:"" }}</td>
            <td>{{ eventsong.song.page | default:"" }}</td>
            <td>{{ eventsong.song.name }}</td>
            <td>{{ eventsong.song.number | default:"" }}</td>
            <td>{{ eventsong.soloist }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% for section, section_name in choir_section.items %}
<h2>{{ section_name }}</h2>
<div>{{ title }}</div>
<div>{{ event.date|date:"l d F G:i" }}</div>
<div>{{ event.location }}</div>
<ul>
    {% for eventsong in event.eventsong_set.all %}
    <li>
        <div>{{ eventsong.song.name }}</div>
        {% for file in eventsong.song.songfile_set.all %}
            {% if file.type == 'score' %}
            <div><a href="{{ file.file.url }}">{{ file.file.url }}</a></div>
            {% endif %}
            {% if file.type == section %}
            <div><a href="{{ file.file.url }}">{{ file.file.url }}</a></div>
            {% endif %}
        {% endfor %}
    </li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}
