{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="hero-unit well">
        {% block banner %}
            <h1>Coro di S.Antonio</h1>
            <p></p>
            <p class="what_next">Vuoi dare un'occhiata al <a href="{% url repertory:song_list %}" class="btn btn-primary btn-large"><i class="icon-music icon-white"></i> Repertorio</a> ?</p>
        {% endblock %}
        </div>
{% endblock %}
